/* Используем селектор по тегу */
/* h1 {
    color: red;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
}



body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    
    color: #0f141e;
    background-color: #f1f1f1;
    
}

h2 {
    padding: 8px;
}
h3 {
    padding: 8px;
}

td {
    padding: 5px;
    padding-block: 3px;
}

/* Селектор по ID */
#header {
    background: rgba(43, 3, 3, 0.14);
    padding: 2px;
}

.short_info {
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    color: gray;
}

.resourse {
    line-height: 20px;
}

.DRed_color {
    color: darkred;
}

.golden {
    color: goldenrod;
}

.green_color {
    color: green;
}

th {
    background-color: #333;
    color: #fff;
    padding: 4px;
}

td {
    border: 1px solid #333;
}

li {
    margin-left: 30px;
    padding: 2px;
}

.my_photo {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 15px;
}

#header {
    margin-bottom: 5px;
}

.card {
    border: 3px solid;
    border-radius: 12px;
    background-color: #fff;
    border-color: black;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-bottom: 15px;
    margin-left: 15px;
}

a:hower {
    color: orange;
}

a:hower {
    color: blue;
}

a:visited {
    color:rgb(165, 47, 165);
}

.btn {
    background-color: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    margin-top: 10px;
}

.btn:hover {
    opacity: 0.8;
}